// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$buss-name: 'buss';
$buss-x: 29px;
$buss-y: 39px;
$buss-offset-x: -29px;
$buss-offset-y: -39px;
$buss-width: 32px;
$buss-height: 24px;
$buss-total-width: 107px;
$buss-total-height: 94px;
$buss-image: '/image/sprite.png';
$buss: (29px, 39px, -29px, -39px, 32px, 24px, 107px, 94px, '/image/sprite.png', 'buss', );
$car-name: 'car';
$car-x: 14px;
$car-y: 69px;
$car-offset-x: -14px;
$car-offset-y: -69px;
$car-width: 16px;
$car-height: 11px;
$car-total-width: 107px;
$car-total-height: 94px;
$car-image: '/image/sprite.png';
$car: (14px, 69px, -14px, -69px, 16px, 11px, 107px, 94px, '/image/sprite.png', 'car', );
$card-name: 'card';
$card-x: 0px;
$card-y: 39px;
$card-offset-x: 0px;
$card-offset-y: -39px;
$card-width: 29px;
$card-height: 30px;
$card-total-width: 107px;
$card-total-height: 94px;
$card-image: '/image/sprite.png';
$card: (0px, 39px, 0px, -39px, 29px, 30px, 107px, 94px, '/image/sprite.png', 'card', );
$cart-name: 'cart';
$cart-x: 0px;
$cart-y: 82px;
$cart-offset-x: 0px;
$cart-offset-y: -82px;
$cart-width: 14px;
$cart-height: 12px;
$cart-total-width: 107px;
$cart-total-height: 94px;
$cart-image: '/image/sprite.png';
$cart: (0px, 82px, 0px, -82px, 14px, 12px, 107px, 94px, '/image/sprite.png', 'cart', );
$dress-name: 'dress';
$dress-x: 70px;
$dress-y: 27px;
$dress-offset-x: -70px;
$dress-offset-y: -27px;
$dress-width: 19px;
$dress-height: 28px;
$dress-total-width: 107px;
$dress-total-height: 94px;
$dress-image: '/image/sprite.png';
$dress: (70px, 27px, -70px, -27px, 19px, 28px, 107px, 94px, '/image/sprite.png', 'dress', );
$girl-name: 'girl';
$girl-x: 36px;
$girl-y: 0px;
$girl-offset-x: -36px;
$girl-offset-y: 0px;
$girl-width: 34px;
$girl-height: 39px;
$girl-total-width: 107px;
$girl-total-height: 94px;
$girl-image: '/image/sprite.png';
$girl: (36px, 0px, -36px, 0px, 34px, 39px, 107px, 94px, '/image/sprite.png', 'girl', );
$mail-name: 'mail';
$mail-x: 70px;
$mail-y: 55px;
$mail-offset-x: -70px;
$mail-offset-y: -55px;
$mail-width: 16px;
$mail-height: 12px;
$mail-total-width: 107px;
$mail-total-height: 94px;
$mail-image: '/image/sprite.png';
$mail: (70px, 55px, -70px, -55px, 16px, 12px, 107px, 94px, '/image/sprite.png', 'mail', );
$man-name: 'man';
$man-x: 0px;
$man-y: 0px;
$man-offset-x: 0px;
$man-offset-y: 0px;
$man-width: 36px;
$man-height: 39px;
$man-total-width: 107px;
$man-total-height: 94px;
$man-image: '/image/sprite.png';
$man: (0px, 0px, 0px, 0px, 36px, 39px, 107px, 94px, '/image/sprite.png', 'man', );
$mobile-name: 'mobile';
$mobile-x: 97px;
$mobile-y: 0px;
$mobile-offset-x: -97px;
$mobile-offset-y: 0px;
$mobile-width: 10px;
$mobile-height: 15px;
$mobile-total-width: 107px;
$mobile-total-height: 94px;
$mobile-image: '/image/sprite.png';
$mobile: (97px, 0px, -97px, 0px, 10px, 15px, 107px, 94px, '/image/sprite.png', 'mobile', );
$percents-name: 'percents';
$percents-x: 70px;
$percents-y: 0px;
$percents-offset-x: -70px;
$percents-offset-y: 0px;
$percents-width: 27px;
$percents-height: 27px;
$percents-total-width: 107px;
$percents-total-height: 94px;
$percents-image: '/image/sprite.png';
$percents: (70px, 0px, -70px, 0px, 27px, 27px, 107px, 94px, '/image/sprite.png', 'percents', );
$prize-name: 'prize';
$prize-x: 0px;
$prize-y: 69px;
$prize-offset-x: 0px;
$prize-offset-y: -69px;
$prize-width: 14px;
$prize-height: 13px;
$prize-total-width: 107px;
$prize-total-height: 94px;
$prize-image: '/image/sprite.png';
$prize: (0px, 69px, 0px, -69px, 14px, 13px, 107px, 94px, '/image/sprite.png', 'prize', );
$spritesheet-width: 107px;
$spritesheet-height: 94px;
$spritesheet-image: '/image/sprite.png';
$spritesheet-sprites: ($buss, $car, $card, $cart, $dress, $girl, $mail, $man, $mobile, $percents, $prize, );
$spritesheet: (107px, 94px, '/image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
