
a,i,button{
	transition: all .2s ease;
	&:before{
		transition: all .2s ease;
	}
	&:link,&:visited,&:hover,&:active,&:focus{
		text-decoration: none;
		outline: none;
	}
}


$brand: #1565c0;
$text: #373737;
$fw-main: 16px;
$link-hover: #ffff75;